
.container-home-open{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;   
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: 65px 1fr 40px;
    grid-template-areas: 
    "appbar appbar"
    "aside content"
    "footer footer"
    ;   
   }
   
.container-home-closed{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;   
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: 65px 1fr 40px;
    grid-template-areas: 
    "appbar appbar"
    "content content"
    "footer footer"
    
    ;   
   }


.container-home h1{
    margin: 0px;
    padding: 0px;
}
.appbar{
    grid-area: appbar;
    height: 100%;
    width: 100%;  
    z-index: 1;
    
}

.aside{
   
    grid-area: aside;
    height: 100%;
    width: 100%;
 
border: none!important;
color: #ffff;
animation-name: openClosed;

animation-duration: 1s;
  
display: flex;
flex-direction: column;

   
  
}
.MuiPaper-outlined {
    border: none!important;
}
.content{
    grid-area: content;
    height: auto;
    width: 100%;
    overflow-y: auto;
    background-color: #fff;
   
    
}
.footer{
    grid-area: footer;
    height: 100%;
    width: 100%;    
    color: #ffff;

   
   
    
}
.iconbutton{
animation-name:iconbtn;
animation-duration:2s;


}
.text-footer{
    animation-name:textfooter;
    animation-duration:1s; 
   animation-iteration-count: infinite;
}

@keyframes openClosed{
    from{
       
       opacity: 0;
       
       
    }to{
        
opacity: 1;
border: none!important;

    }
}




@keyframes iconbtn{
    from{
       color: rgba(255, 255, 255, 0.623);
opacity:0
    }
    to{
        color: #fff;
opacity:1;

    }
}
@keyframes textfooter{
    from{
   
opacity:0
    }
    to{
        
opacity:1;

    }
}