.container-user{
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin-top: 15px;
}
.load{
    position: absolute;
    height: 100px;
    width: 100px; 
    left: 50%;   
   top:40%;
   z-index: 99;
   visibility: hidden;
   
    
}