.container{
    height: 70vh!important;
    width: 50vw!important;  
    height:70vh;   
    display: flex;
    align-items: stretch;
    overflow: hidden;
    background-color: white;
    border-radius: 10px; 
   
    
}
#root{
        display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    height: 100vh;
  
}
.grid{
    height: 100%!important;
    width: 100%!important;
    align-content: stretch;
   
   
 
   
}
.paper-title{
    background-color: #3f51b5!important;
    color:#ffff
}
.background{

    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressBar{
    height:20px!important;
  
}

@media (max-width:500px){
    .container{
        width: 100%!important;
         height: 100vh!important;
         margin: 0px!important;
                    
       
    }.grid{
        width: 100vw!important;
        height: 100vh!important;
    }
}
